@import "tailwindcss";

@theme {
    --animate-fade-in: fade-in 0.5s ease-out;
    --animate-slide-up: slide-up 0.5s ease-out;
    --animate-scale-in: scale-in 0.2s cubic-bezier(0.16, 1, 0.3, 1);

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes slide-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes scale-in {
        0% {
            transform: scale(0.95);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}